$primary-dark: #002762; 
$primary: #0056D5;
$primary-light: #8AB5F5; //8E78E4
$primary-verylight: #E6EFFD; 

 
$secondary-dark: #16171A; 
$secondary: #34363D;
$secondary-light: #A2A3A6; 
$secondary-verylight: #EBEBEC; 

$base-dark:#403F3D;
$base:#D7D4D1;
$base-light:#E8E8E6;
$base-verylight:#F8F8F7;

$accent-dark:#6B2610;
$accent: #FF5B26;
$accent-light:#FFB49B;
$accent-verylight:#FFEFE9;

//for admin panel
$blaze-dark:#B77210;
$blaze: #FF9F16;
$blaze-light:#FFBF63;
$blaze-verylight:#FFEACC;


$white: #ffffff;
$black: #000000;

$primary-1: #b0cdf8;
$primary-2: #8ab5f5;
$primary-3: #5493f1;
$primary-4: #337eee;
$primary-5: #005eea;
$primary-6: #0056d5;
$primary-7: #0043a6;
$primary-8: #003481;
$primary-9: #002762;

$secondary-1: #c0c1c3;
$secondary-2: #a2a3a6;
$secondary-3: #77787d;
$secondary-4: #5d5e64;
$secondary-5: #34363d;
$secondary-6: #2f3138;
$secondary-7: #25262b;
$secondary-8: #1d1e22;
$secondary-9: #16171a;

$accent-1: #ffccbc;
$accent-2: #ffb49b;
$accent-3: #ff916e;
$accent-4: #ff7c51;
$accent-5: #ff5b26;
$accent-6: #e85323;
$accent-7: #b5411b;
$accent-8: #8c3215;
$accent-9: #6b2610;

$base-1: #f4f4f3;
$base-2: #e8e8e6;
$base-3: #b6b4af;
$base-4: #a4a29e;
$base-5: #92908c;
$base-6: #898783;
$base-7: #6d6c69;
$base-8: #52514f;
$base-9: #403f3d;
