/* -----------color-shades-start--------------*/
/* bg-black-100, bg-white-100, text-black-100, text-white-100 */
@function light-color($color, $amount) {@return mix($white, $color, $amount * 1%);}
@function dark-color($color, $amount) {@return mix($black, $color, $amount * 1%);}

@mixin generate-light($color, $name, $amount) {
  .bg-#{$name} {background-color: light-color($color, $amount)!important;}
  .hover-bg-#{$name}:hover{ background-color: light-color($color, $amount)!important;}
  .text-#{$name}, .text-#{$name} *{color: light-color($color, $amount);}
  .hover-text-#{$name}:hover{color: light-color($color, $amount);}
  .border-#{$name} {border-color: light-color($color, $amount)!important;}
 
}
@mixin generate-dark($color, $name, $amount) {
  .bg-#{$name} {background-color: dark-color($color, $amount)!important;}
  .hover-bg-#{$name}:hover{ background-color: dark-color($color, $amount)!important;}
  .text-#{$name}, .text-#{$name} * {color: dark-color($color, $amount);}
  .border-#{$name} {border-color: dark-color($color, $amount)!important;}
}

@mixin generate-alpha($color, $name, $alpha) {
  $alpha_lookup: (1:1A,2:33,3:4D,4:66,5:80,6:99,7:B3,8:CC,9:E6);
  $alpha_hex: map-get($alpha_lookup,$alpha);
  $rgba_color: #{$color}+$alpha_hex;
  .bg-alpha-#{$name} {background-color:$rgba_color!important;}
}
/* -------- */
@for $i from 1 through 9 {  
  @include generate-light($black, gray-#{$i}, calc(10 * (10 - $i))); 
  @include generate-alpha($black, gray-#{$i}, $i);  
}

@for $i from 1 through 9 {
  @include generate-light($white, white-#{$i}, calc(10 * (10 - $i)));
  @include generate-alpha($white, white-#{$i}, $i);
}
/* -----------primary-1 to 9 --------------*/

@mixin generate-shades($name, $color) {
  .bg-#{$name} {background-color:$color!important;}
  .hover-bg-#{$name}:hover{ background-color:$color!important;}
  .text-#{$name}, .text-#{$name} *{color:$color!important;}
  .hover-text-#{$name}:hover{color:$color!important;}
  .border-#{$name} {border-color:$color!important;} 
}



$colors: (
  accent: (#ffccbc, #ffb49b, #ff916e, #ff7c51, #ff5b26, #e85323, #b5411b, #8c3215, #6b2610),
  primary: (#b0cdf8, #8ab5f5, #5493f1, #337eee, #005eea, #0056d5, #0043a6, #003481, #002762),
  secondary: (#c0c1c3, #a2a3a6, #77787d, #5d5e64, #34363d, #2f3138, #25262b, #1d1e22, #16171a),
  base: (#f4f4f3, #e8e8e6, #b6b4af, #a4a29e, #92908c, #898783, #6d6c69, #52514f, #403f3d)
  //blaze: (#ffe1b7, #ffd394,#ffbf63,#ffb245,#ff9f16,#e89114,#b57110,#8c570c,#6b4309)
  );
@each $color-name, $shades in $colors {
  @for $i from 1 through 9 {
    $shade: nth($shades, $i);
    @include generate-shades(#{$color-name}-#{$i}, $shade);
    @include generate-alpha ($shade, #{$color-name}-#{$i}, $i);
  }
}
