$h1 : 3.625rem; //58px    1rem=16px //
$h2 : 2.375rem; //38px//
$h3 : 1.75rem; //28px//
$h4 : 1.4rem; //
$h5 : 1.3rem; //
$h6 : 1.2rem; //
$para-title: 1.1rem; //16px
$para: 1rem; //16px
$small: 0.875rem; // 14px
$xsmall: 0.75rem; //12px//
$table-font:0.95rem; // 15px
$form-input:0.95rem; // 15px

$size-xs:0.8rem;
$size-sm:0.9rem;
$size-md:1rem;
$size-lg:1.2rem;
$size-xl:1.3rem;
$size-xxl:1.4rem;
.size-xxl, .size-xxl *{ font-size: $size-xxl;}
.size-xl, .size-xl *{ font-size: $size-xl;}
.size-lg, .size-lg *{ font-size: $size-lg;} 
.size-md, .size-md *{ font-size: $size-md;} 
.size-sm, .size-sm *{ font-size: $size-sm;}
.size-xs, .size-xs *{ font-size: $size-xs;} 

$font-weight-normal:400;
$font-weight-medium:500;
$font-weight-bold:600 ;
$font-weight-bolder:800;

//@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


$font-primary : "Manrope", sans-serif;
$font-secondary : Tahoma, sans-serif !default;
.font-primary{font-family:$font-primary!important;}
.font-secondary{font-family:$font-secondary;}

*{line-height:145%;}
body {
    font-family:$font-primary;
    color: $secondary!important;
    @include media-breakpoint-max(1280px) {font-size:0.8rem!important;   }    
    @include media-breakpoint-min(1281px) {font-size:1rem!important;   }    
}
.h1, h1{   
    font-size:$h1; 
    @include  media-breakpoint-max(1280px){font-size: $h2; }
    @include  media-breakpoint-max(768px){font-size:1.5rem; } 
    margin-bottom:0.2em;
}
.h2, h2{
    font-size:$h2; font-weight: $font-weight-bold; 
    @include  media-breakpoint-max(1280px){font-size:1.75rem;}
    @include  media-breakpoint-max(576px){font-size:1.5rem;}
}
.h3, h3{
    font-size:$h3;
    @include  media-breakpoint-max(1100px){font-size:$h4;}
    @include  media-breakpoint-max(768px){font-size:$h5;}
    @include  media-breakpoint-max(576px){font-size:$h6;}
}
.h4,h4{
    font-size:$h4; font-weight: $font-weight-bold;
    @include  media-breakpoint-max(1280px){font-size:$h5; }
}
.h5,h5,.h6,h6{
    font-size:$h5; font-weight: $font-weight-bold;
    @include  media-breakpoint-max(1280px){font-size:$small; }
}
.para, p{
    font-size:$para; color:$secondary;
    @include  media-breakpoint-max(1280px){font-size:$small;}
}
.para-title{font-size:$para-title; color:$secondary; font-weight: $font-weight-bold;margin-bottom:0.5em;}


