/* header, #header-inner{
  height: 100vh;
  @include media-breakpoint-max(992px){
    height: 100vh;
  }
} */ 
.logo{
    text-indent: -500px;
    overflow:hidden;         
    background-image: url('./images/logo.svg');
    background-position:top left;
    background-repeat:no-repeat;
    background-size: contain;
    width:150px;
    height:45px;
    display: block;   
    @include transition(0.5);   
    @include media-breakpoint-max(992px){
      width:113px;
      height:34px;
    } 
  @include media-breakpoint-max(576px){
    background-image: url('./images/logo-icon.svg');
    background-size: contain;
    width: 35px;
    height: 38px;
  }
} 
.dark-mode .logo{
  background-image: url('./images/logo-dark.svg');
}
header{      
  #header-inner{
    @include media-breakpoint-max(568px){
      padding:0;
      
    }
 
  }
      .navbar {
        @include media-breakpoint-max(991px){
            font-size: 24px;
        }
        @include media-breakpoint-min(992px){
            font-size: 14px;
        }
        @include media-breakpoint-min(1201px){
            font-size: 16px;
        }
      } 
}
#search-icon{
  display: block; width: 20px; height:20px;
  background-image: url(images/search.svg);
  opacity: .8;
  &:hover{opacity:1;}
}
#neelan-mobi-menu{ 
    transform: scale(1)!important;
    width: 32px;
    height: 24px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    span {
        display: block;
        position: absolute;
        height: 3px;
        width: 16px;
        background: $secondary-dark; 
        //border: 1px solid $accent;
        opacity: 1;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
        
      }
      span:nth-child(even) {
        left: 16px;

        margin-left: -1px;
      }
      
    span:nth-child(odd) {
        left:0px;
        
    }
    span:nth-child(1), span:nth-child(5){
      width: 50%;
 
    }
    span:nth-child(1), span:nth-child(2) {
        top: 0px;
      }
      
    span:nth-child(3), span:nth-child(4) {
        top: 10px;
      }
      
    span:nth-child(5), span:nth-child(6) {
        top: 20px;
      }
      span:nth-child(3), span:nth-child(4){
        background-color:$secondary-dark;
      }   
  }
  #neelan-mobi-menu.open {
    span:nth-child(1), span:nth-child(5){
      width: 16px;
      margin-left:0;
    } 
    span:nth-child(1), span:nth-child(6){
      background-color:$secondary-dark;
    }
  }
  
  #neelan-mobi-menu.open span:nth-child(1),#neelan-mobi-menu.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #neelan-mobi-menu.open span:nth-child(2),#neelan-mobi-menu.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  #neelan-mobi-menu.open span:nth-child(1) {
    left: 5px;
    top: 7px;
  }
  
  #neelan-mobi-menu.open span:nth-child(2) {
    left: calc(50% - 0px);
    top: 7px;
  }
  
  #neelan-mobi-menu.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
  }
  
  #neelan-mobi-menu.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
  }
  
  #neelan-mobi-menu.open span:nth-child(5) {
    left: 6px;
    top: 16px;
  }
  
  #neelan-mobi-menu.open span:nth-child(6) {
    left: calc(50% - 1px);
    top: 16px;
  }

#banner-with-image{
  background-position: center;
  border-radius:0 0 2em 2em;
    .header-wrapper{
      background: linear-gradient(180deg, rgba(0,0,0,0) 62%, rgba(0,0,0,0.6671043417366946) 100%);
    }
    .header-inner{ //topbg
      background: linear-gradient(0deg, rgba(0,0,0,0) 88%, rgba(0, 0, 0, 0.627) 100%);
      min-height:100vh;
    }
    #page-header{
      h1{
        @include media-breakpoint-min(1279px){
          font-size:5rem;
        }
      }
    }   
    .logo{
        background-image: url(images/logo-dark.svg);
        @include media-breakpoint-max(576px){
          background-image: url('./images/logo-icon-dark.svg');} 
    }
    #neelan-mobi-menu span{background-color:white;}
    .btn{
        color:$secondary!important;
        background-color: white!important;   
    }
    #search-icon{background-image: url(images/search-dark.svg);}
    #search-input{border: 2px solid transparent!important; }
    
}
#search-container{ 
  *{@include transition(4);}
  padding: 0;  
  position: relative;
  display: inline-block;  
  #search-input {
    outline: none;
    width: 0px;
    padding:8px 15px;
    @include media-breakpoint-max(576px){padding:8px;}
    border: 2px solid $secondary;    
    background-color: transparent;
    color: $secondary-dark;    
    outline: none;
    border-radius: 5px;     
    font-weight: 600;
    @include transition(0.5); 
    opacity:0 ;       
  }
  #search-input::placeholder{color: transparent;}
  #search-icon {
    position: absolute;
    top: 50%; right:10px;
    @include media-breakpoint-max(576px){right: -10px;}
    transform: translateY(-50%); 
    cursor: pointer;
    opacity: .7;@include transition(0.25); 
    &:hover{
      opacity:1;@include transition(0.25);}
  }
  #search-input::placeholder{color:$secondary-light;}
}
#search-icon.withinput{background-image: url('images/search-dots.svg');}
#banner-with-image #search-icon.withinput{background-image: url('images/search-dark-dots.svg');}
#search-container.search-expanded{ 
  #search-input {   
    background-color: white; 
    opacity:1;
    width: 100%;max-width: 250px;
    @include transition(0.5);
    &:focus, &:hover {
      border: 2px solid $secondary-dark;
    }
  }
  #search-icon{background-image: url('images/search.svg');}
}
#search-icon.disabled{cursor:default!important;opacity: .2!important;}
