#services{
    .nav-link .bi{margin-right:10px;@include transition(0.5);}
    hr{
        @include  media-breakpoint-min(1281px){margin: 1.75em 0!important;}
        @include  media-breakpoint-min(1500px){margin: 1.25em 0!important;}
    }

    .nav-link.active{   
        @include  media-breakpoint-min(992px){
            h5, p{color:$primary!important;}
            .bi{margin-right:0px;margin-left:10px;}
            .bi::before{color:$primary!important;}
        }
    }
    .tab-pane.fade:not(.show){display:none!important;}
    .service-mob-image{
        display: block;
        @include  media-breakpoint-max(992px){width:350px; height:200px;}
        @include  media-breakpoint-max(992px){width:350px; height:200px;}
    }
    .nav{         
        h5{@include  media-breakpoint-max(992px){font-size:$h4!important;margin-bottom:10px!important;}}
        p{@include  media-breakpoint-max(992px){font-size:$h5!important;margin-bottom:10px!important;}}
        a{@include  media-breakpoint-max(992px){font-size:$para!important;}}
    }

}
#service-anim{ 
    overflow: hidden;
    img{
        top: 50%;left: 50%;transform: translate(-50%, -50%);
        @include  media-breakpoint-max(992px){animation: none !important; }
    }
}
.resetanim * {animation:none!important; }
#service-anim1 img:first-child{
    transform: translate(-50%, -30%);
    //transform: translate(-65%, -50%);
}
#service-anim1 img:nth-child(2){
    transform: translate(-30%, -67%);
    //transform: translate(-32%, -50%);
}
.active #service-anim1 img:first-child{
    animation: slideAnimation1a .5s ease forwards;
}
.active #service-anim1 img:nth-child(2){
    animation: slideAnimation1b .5s ease forwards;
}
@keyframes slideAnimation1a {
    from {
        transform: translate(-50%, -30%);
    }
    to {
        transform: translate(-65%, -50%);
    }
}
@keyframes slideAnimation1b {
    from {
        transform: translate(-30%, -67%);
    }
    to {
        transform: translate(-32%, -50%);
    }
}


#service-anim2 img:first-child{
    transform: translate(-50%, -50%);opacity: 0;
    animation: slideAnimation2a 1s ease forwards;

}
#service-anim2 img:nth-child(2){
    transform: translate(-47%, -50%); opacity: 0;
    animation: slideAnimation2b 1s ease forwards;
}
.active #service-anim2 img:nth-child(3){
    transform: translate(-48%, -46%); opacity: 0;
    animation: slideAnimation2c 1s ease forwards;
}
.active #service-anim2 img:nth-child(4){
   transform: translate(-48%, -47%); opacity: 0;
   animation: slideAnimation2d 1s ease forwards;
    width: 306px;
    height: auto;
}

@keyframes slideAnimation2a {0% {opacity: 0;}15% {opacity: 1;}100% {opacity: 1;}}
@keyframes slideAnimation2b {0% {opacity: 0;}15% {opacity: 0;}30% {opacity: 1;}100% {opacity: 1;}}
@keyframes slideAnimation2c {0% {opacity: 0;}50% {opacity: 0;}75% {opacity: 1;}100% {opacity: 1;}}
@keyframes slideAnimation2d {0% {opacity: 0;}75% {opacity: 0;}100% {opacity: 1;}}

#commerce{
    background-image:url('images/content/home-commerce-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    max-height: 100vh;
    max-width: 100vw;
}

#connect-img{    
    background-size:100%;
    background-position:0px 0px;
    background-repeat:no-repeat;
    background-image: url("images/content/home-commerce-bg-front.jpg");
    mask-image: url("images/home-commerce-bg-front-mask.svg");    
    mask-repeat: no-repeat;
    mask-position:center;
    mask-size: 100%;        
    width:70vw;height:70vh;
    margin-top: 15vh;
    margin-left:15vw;
    @include  media-breakpoint-min(1500px){
        background-size:73%;
        mask-size: 66%;  
    }
    @include  media-breakpoint-max(992px){
        mask-image: url("images/home-commerce-bg-front-mask1.svg");
        background-image: url("images/content/home-commerce-bg-front1.jpg");
 
    }
    @include  media-breakpoint-max(768px){         
         width:100vw;height:100vh;margin:0;         
         background-size:cover;
         background-position:center;
    }
 } 
#connect-img.viewport-focused{animation: imagecustommove 2s ease-out forwards;}

@include  media-breakpoint-min(1500px){
    @keyframes imagecustommove {0% {
        transform: translateY(300px);background-position: 185px -346px;          
    }100% {
        transform: translateY(0px);background-position: 185px -46px;
    }}
}
@include  media-breakpoint-max(1499px){
     @keyframes imagecustommove {0% {
        transform: translateY(300px);background-position: 0 -403px;          
    }100% {
        transform: translateY(0px);background-position: 0 -103px; 
    }}   
}
@include  media-breakpoint-max(470px){
    @keyframes imagecustommove {0% {
        transform: translateY(300px);background-position: 0 -383px;          
    }100% {
        transform: translateY(0px);background-position: 0 -83px; 
    }} 
}
@include  media-breakpoint-max(325px){
    @keyframes imagecustommove {0% {
        transform: translateY(300px);background-position: 0 -303px;          
    }100% {
        transform: translateY(0px);background-position: 0 -3px; 
    }} 
}
#connect-text-wrapper{
    transform: translateY(-23%);
    height: 100vh;
    position: absolute;

}
#connect-text{
        font-size:220px;
        @include transition(3);
        span{line-height:100%!important;}        
        @include  media-breakpoint-min(1281px){font-size:220px; } 
        @include  media-breakpoint-min(1600px){font-size:270px; } 

        @include  media-breakpoint-max(1280px){font-size:180px; } 
        @include  media-breakpoint-max(1100px){font-size:150px; img{height:150px;}} 
        @include  media-breakpoint-max(800px){font-size:120px; img{height:120px;}} 
        @include  media-breakpoint-max(600px){font-size:90px; img{height:90px;}}         
        top:50%;
        left:0%;
        font-weight: 300!important;
        font-style: italic;        
    }
#connect-text.viewport-focused{animation: fasttextmove 3s ease forwards;}

@include  media-breakpoint-min(600px){
    @keyframes fasttextmove {0% {
        transform: translate(100%, -10%);
        left: 0%;
    }100% {
        left: 50%;
        transform: translate(-54%, -10%);
    }}
}
@include  media-breakpoint-max(600px){
    @keyframes fasttextmove {0% {
        transform: translate(100%, -10%);
        left: 0%;
    }100% {
        left: 50%;
        transform: translate(-51%, -10%);
    }}
}
.overlay-nextsection{z-index: 500;position: relative;}
.overlay-prevsection{z-index: 499;
        margin-top:-30px;
        padding-top: 40px !important;
}




.accordion{
    background-color:transparent;
    
    .accordion-item{
        margin-bottom: 0;
        overflow: hidden;
        border-bottom: unset!important;
        background-color:transparent;
        border-radius:0!important;
        border: none!important;
        border-bottom:1px solid #5D5E64!important;

        .accordion-button{
            background-color:transparent;
            color:white;          
            box-shadow:unset!important;
            padding: 1.5em;
            
            
            @include media-breakpoint-max(992px){
                font-size:$size-md;
            }
            .icon-plus{
                font-size:35px;
                line-height: 1; 
                 
                font-weight: normal;@include transition(0.25);
            }
            &:hover{
                background-color:$secondary-dark;
            }
        }
        
 
        .accordion-button:not(.collapsed){
            background-color:$secondary-dark;
            .icon-plus{transform: rotate(-45deg);@include transition(0.25);}
        }
        .accordion-button::after{
            background-image: none!important;
            display: none;
        }
        .accordion-body{
            background-color: $secondary-dark;
            color:white;
            line-height: 150%;
            padding-top:0px;
        }
    }
}









#casestudy { }

.slider *{@include transition(0.5);}

.slider{    
.slick-card{    
    border: 1px solid #68696C;
    border-radius:8px ;
    overflow: hidden;
    @include media-breakpoint-max(576px){min-height:70vh;} 
    .slick-card-img{
        @include transition(2);
        height:584px;
        background-position:top left;
        @include media-breakpoint-max(992px){height:unset; min-height:70vh;}                        
        @include media-breakpoint-max(576px){height:35vh; min-height:unset;}                   
    }
    .slick-card-content{
        @include media-breakpoint-max(576px){min-height:30vh;}  
    }
    .slick-card-desc{        
        font-weight: normal;
        @include media-breakpoint-max(576px){ font-size:$size-sm;} 
    }
    .case-logo{
        //@include media-breakpoint-max(576px){ height:20px;width:auto;} 
    }
    .case-link{margin-right: 15px;}
}
.slick-card:hover{
    background-color: #141417!important; 
    border: 1px solid #b6b6b6;    
}
.slick-active .slick-card:hover{       
    .slick-card-img{
        background-position: top right;
        @include transition(8);
    }
    .case-link{margin-right:0px;}
}

.slick-dots{ 
    margin-top: 15px!important;
    position: unset;    
    margin:auto;    
    @include media-breakpoint-max(768px){display:flex; } 
    li{ 
        width:10%; max-width:75px;
        padding:0 5px;
        margin:0;
        @include media-breakpoint-max(768px){ width:unset;max-width:unset; flex-grow: 1; } 
        button{
            background-color: #898783;
            width:100%;
            padding:0;
            height:3px;
            margin:10px 0;
        }
    }
    li.slick-active button{
        background-color: white;
    }
}
}

#insights{}

.blog-card{
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
    .img-wrapper{
        height:300px;
        background-size: 100% auto;
        overflow: hidden;
        .img{height:300px;@include transition(.75);}
    }
    &:hover .img-wrapper .img{
        transform: scale(1.2);
        @include transition(.75);
    }
    .posttype{
        z-index: 600;
        padding:10px;
        background-color: $secondary-dark;
        color:white;
        border-radius: 12px 0 12px 0;
    }
}

.client-logo-container{
    width:100%;     
    display:block;
    overflow: hidden;
}
.client-logos, .b-client-logos {
    margin-bottom:4%;
}
.client-logo, .b-client-logo {   
    flex: 0 0 auto;    
    display: flex;
    align-items:center;
    justify-content: center;
    width: 200px;
    height:100px;
    margin-right:25px;
/*     @include media-breakpoint-min(1300px){
        width: 300px;
        margin-right:40px;
        height:140px;
    } */
}