#contact-form{
    label{
        color: $primary-verylight;opacity: .7;
    }
    input[type="text"], input[type="email"], textarea{
        background-color: $primary;
    color:white;
    font-weight: normal;
    font-size: 17px;
    border: 2px solid $primary-light;
    opacity: .5;
    }
    input::placeholder{color: $primary-verylight;}
    input[type="text"]:focus, input[type="email"]:focus, textarea:focus{
        border: 2px solid $primary-verylight;
        background-color:$primary;
        //box-shadow:0 0 0 .25rem $secondary;
        box-shadow:unset;
        opacity:1;
        color:white;
    }
    .wpcf7-not-valid-tip,.text-danger{color: $blaze!important;}
    .wpcf7-submit{margin-bottom:0.5em!important;}
}
.wpcf7-response-output{width:100%;margin-top:0.5em!important; padding: 1em !important;}